/* common element style {{{ */
@font-face {
    font-family: 'helveticaneue-light';
    src: url('/static/website/font/helveticaneue-light-webfont.eot');
    src: url('/static/website/font/helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/website/font/helveticaneue-light-webfont.woff') format('woff'),
         url('/static/website/font/helveticaneue-light-webfont.ttf') format('truetype'),
         url('/static/website/font/helveticaneue-light-webfont.svg#helvetica_neue45_light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'helveticaneue-thin';
    src: url('/static/website/font/helveticaneue-thin-webfont.eot');
    src: url('/static/website/font/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/website/font/helveticaneue-thin-webfont.woff') format('woff'),
         url('/static/website/font/helveticaneue-thin-webfont.ttf') format('truetype'),
         url('/static/website/font/helveticaneue-thin-webfont.svg#helvetica_neue35_thin') format('svg');
	font-weight: normal;
	font-style: normal;
}
body { font: normal 100%/1 helveticaneue-light, Helvetica, Arial, sans-serif; }
b, .bold { font-weight: bold; }
.align_left { text-align: left; }
.align_right { text-align: right; }
.align_center { text-align: center; }
.width_78_100 { width: 78%; }
.width_28_100 { width: 28%; }
.width_10_100 { width: 10%; }
.display_none { display: none!important; }
.transparent {
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

	/* IE 5-7 */
	filter: alpha(opacity=0);

	/* Netscape */
	-moz-opacity: 0;

	/* Safari 1.x */
	-khtml-opacity: 0;

	/* Good browsers */
	opacity: 0;
}
.no_overflow_x { overflow-x: hidden; }
.display_only_mobile, .display_only_pc { display: none; }
.coupon_code_block { height: 60em; }
/* common element style }}} */

/* page main style {{{ */
.wrapper { display: inline-block; float: left; width: 100%; }
.logo_container { width: 50%; text-align: center; margin: 0 auto; }
.logo_container .entpy_logo_image { width: 90%; margin-top: 3em; }
.logo_container .entpy_logo_image2 { padding-top: 5%; width: 90%; }
.entpy_world_container { padding-top: 1em; display: inline-block; width: 100%; }
.entpy_world_container .entpy_world_image { width: 100%; }
.logo_bottom_container { color: white; font-size: 21px; font-weight: bolder; }

.form_container { margin-top: 4em; }
.form_container .input_code_container > input { background-color: #001a23; border: 2px solid #28aee2; border-radius: 4px; box-shadow: 0 0 4px 0 #28aee2; color: white; font-size: 30px; margin-bottom: 1.3em; padding: 5px 14px; text-align: center; width: 65%; }
.form_container .input_code_container > input:hover { box-shadow: 0 0 8px 1px #28aee2; }
.form_container .input_submit_container > input { background-color: #ff860c; border: 3px solid #001a23; border-radius: 4px; color: #001a23; cursor: pointer; font-size: 22px; padding: 9px 12px; width: 50%; }
/* page main style }}} */

/* colors {{{ */
html {
	background: #002c3a; /* Old browsers */
	background: -moz-linear-gradient(top, #001a23 0%, #001a23 58%, #0a4554 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#001a23), color-stop(58%,#001a23), color-stop(100%,#0a4554)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #001a23 0%,#001a23 58%,#0a4554 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #001a23 0%,#001a23 58%,#0a4554 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #001a23 0%,#001a23 58%,#0a4554 100%); /* IE10+ */
	background: linear-gradient(to bottom, #001a23 0%,#001a23 58%,#0a4554 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a23', endColorstr='#0a4554',GradientType=0 ); /* IE6-9 */
}
.wrapper { 
	background: #002c3a; /* Old browsers */
	background: -moz-linear-gradient(top, #001a23 0%, #001a23 58%, #0a4554 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#001a23), color-stop(58%,#001a23), color-stop(100%,#0a4554)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #001a23 0%,#001a23 58%,#0a4554 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #001a23 0%,#001a23 58%,#0a4554 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #001a23 0%,#001a23 58%,#0a4554 100%); /* IE10+ */
	background: linear-gradient(to bottom, #001a23 0%,#001a23 58%,#0a4554 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a23', endColorstr='#0a4554',GradientType=0 ); /* IE6-9 */
}
/* colors }}} */
