/* common element style {{{ */
@font-face {
    font-family: 'helveticaneue-light';
    src: url('/static/website/font/helveticaneue-light-webfont.eot');
    src: url('/static/website/font/helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/website/font/helveticaneue-light-webfont.woff') format('woff'),
         url('/static/website/font/helveticaneue-light-webfont.ttf') format('truetype'),
         url('/static/website/font/helveticaneue-light-webfont.svg#helvetica_neue45_light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'helveticaneue-thin';
    src: url('/static/website/font/helveticaneue-thin-webfont.eot');
    src: url('/static/website/font/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/website/font/helveticaneue-thin-webfont.woff') format('woff'),
         url('/static/website/font/helveticaneue-thin-webfont.ttf') format('truetype'),
         url('/static/website/font/helveticaneue-thin-webfont.svg#helvetica_neue35_thin') format('svg');
	font-weight: normal;
	font-style: normal;
}
body { font: normal 100%/1 helveticaneue-light, Helvetica, Arial, sans-serif; overflow-x: hidden; }
b, .bold { font-weight: bold; }
.display_none { display: none!important; }
.display_only_mobile, .display_only_pc { display: none; }
/* common element style }}} */

/* page main style {{{ */
.logo_container { width: 50%; text-align: center; margin: 0 auto; }
.logo_container .entpy_logo_image { width: 90%; margin-bottom: 60em; margin-top: 3em; }
.entpy_universe_image { width: 100%; }
/* page main style }}} */

/* colors {{{ */
html {
	background: #002c3a; /* Old browsers */
	background: -moz-linear-gradient(top, #001a23 1%, #003547 35%, #0a4554 97%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#001a23), color-stop(35%,#003547), color-stop(97%,#0a4554)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #001a23 1%,#003547 35%,#0a4554 97%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #001a23 1%,#003547 35%,#0a4554 97%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #001a23 1%,#003547 35%,#0a4554 97%); /* IE10+ */
	background: linear-gradient(to bottom, #001a23 1%,#003547 35%,#0a4554 97%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a23', endColorstr='#0a4554',GradientType=0 ); /* IE6-8 */
}
/* colors }}} */

/* animation definitions {{{ */
.logo_container_after_animation_pt1 {
	left: 100%;
	margin: 0 0 0 0;
	position: fixed;
	width: 50%;
}
.logo_container_after_animation_pt2 {
	left: 64%;
	margin: 0 0 0 -37.5%;
	position: fixed;
	width: 50%;
	margin-top: 3em;
}
/* animation definitions }}} */
