/* common element style {{{ */
@font-face {
    font-family: 'helveticaneue-light';
    src: url('/static/website/font/helveticaneue-light-webfont.eot');
    src: url('/static/website/font/helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/website/font/helveticaneue-light-webfont.woff') format('woff'),
         url('/static/website/font/helveticaneue-light-webfont.ttf') format('truetype'),
         url('/static/website/font/helveticaneue-light-webfont.svg#helvetica_neue45_light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'helveticaneue-thin';
    src: url('/static/website/font/helveticaneue-thin-webfont.eot');
    src: url('/static/website/font/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/website/font/helveticaneue-thin-webfont.woff') format('woff'),
         url('/static/website/font/helveticaneue-thin-webfont.ttf') format('truetype'),
         url('/static/website/font/helveticaneue-thin-webfont.svg#helvetica_neue35_thin') format('svg');
	font-weight: normal;
	font-style: normal;
}
html { background-color: #002c3a; }
body { font: normal 100%/1 helveticaneue-light, Helvetica, Arial, sans-serif; }
body * { font-family: 'helveticaneue-light'; }
b, .bold { font-weight: bold; }
/* help form placeholder color {{{ */
.form_container .input_code_container .code_input *:-ms-input-placeholder { color: #28aee2; text-align: center; }
.form_container .input_code_container .code_input *::-moz-placeholder { color: #28aee2; text-align: center; }
.form_container .input_code_container .code_input *:-moz-placeholder { color: #28aee2; text-align: center; }
.form_container .input_code_container .code_input *::-webkit-input-placeholder { color: #28aee2; text-align: center; }
.form_container .input_code_container .code_input { line-height: 0!important; }
.send_mail_container * *:-ms-input-placeholder { color: #444; }
.send_mail_container * *::-moz-placeholder { color: #444; }
.send_mail_container * *:-moz-placeholder { color: #444; }
.send_mail_container * *::-webkit-input-placeholder { color: #444; }

/* placeholder fix */
.form_container .input_code_container span.placeholder { color: #28aee2!important; font-family: 'helveticaneue-light'!important; }
.send_mail_container span.placeholder { color: #444!important; font-family: 'helveticaneue-light'!important; text-align: left!important; }
/* help form placeholder color }}} */

.align_left { text-align: left; }
.align_right { text-align: right; }
.align_center { text-align: center; }
.width_78_100 { width: 78%; }
.width_28_100 { width: 28%; }
.width_10_100 { width: 10%; }
.opacity_70_100 {
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"!important;

	/* IE 5-7 */
	filter: alpha(opacity=70)!important;

	/* Netscape */
	-moz-opacity: 0.7!important;

	/* Safari 1.x */
	-khtml-opacity: 0.7!important;

	/* Good browsers */
	opacity: 0.7!important;
}
.display_none { display: none!important; }
.transparent {
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

	/* IE 5-7 */
	filter: alpha(opacity=0);

	/* Netscape */
	-moz-opacity: 0;

	/* Old Webkit browsers (Safari, Chrome, various others) */
	-webkit-opacity: 0;

	/* Safari 1.x */
	-khtml-opacity: 0;

	/* Good browsers */
	opacity: 0;
}

.no-transparent {
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"!important;

	/* IE 5-7 */
	filter: alpha(opacity=100)!important;

	/* Netscape */
	-moz-opacity: 1!important;

	/* Old Webkit browsers (Safari, Chrome, various others) */
	-webkit-opacity: 1!important;

	/* Safari 1.x */
	-khtml-opacity: 1!important;

	/* Good browsers */
	opacity: 1!important;
}
.visible { visibility: visible!important; }
.no-visible { visibility: hidden; }
.no_overflow_x { overflow-x: hidden; }
.display_only_mobile, .display_only_pc { display: none; }
.coupon_code_block { display: inline; height: 60em; }
/* common element style }}} */

/* page main style {{{ */
.wrapper { display: inline-block; float: left; width: 100%; }
.logo_container { text-align: center; margin: 0 auto; }
.logo_container .entpy_logo_image { margin-top: 3em; }
.logo_container .entpy_logo_image2 { padding-top: 5%; }
.entpy_world_container { padding-top: 1em; display: inline-block; }
.entpy_world_container .entpy_world_image { vertical-align: bottom; width: 100%; }
.logo_bottom_container { color: #115367; font-size: 21px; font-weight: bold; }

/* code form {{{ */
.form_container .input_code_container > input, .form_container .input_code_container > input:focus {
	-webkit-appearance: none;
	-webkit-user-modify: read-write-plaintext-only;
	background-color: transparent;
	border: 2px solid #28aee2;
	border-radius: 4px;
	color: #28aee2;
	font-family: 'helvetica';
	font-weight: bold;
	text-align: center;
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
.form_container .input_code_container > input:hover {
	-webkit-appearance: none;
	background-color: transparent;
	border: 2px solid #28aee2;
	border-radius: 4px;
	color: #28aee2;
	font-family: 'helvetica';
	font-weight: bold;
	text-align: center;
	box-shadow: 0 0 6px -1px #28aee2;
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
.form_container .input_submit_container > input { -webkit-appearance: none; background-color: #28aee2; border: none; border-radius: 4px; color: #001a23; cursor: pointer; }
.form_container .input_submit_container > input:hover { background-color: #84C619; box-shadow: 0 0 6px -1px #84C619; }
/* code form }}} */

/* sendmail form {{{ */
.send_mail_container {
	background-color: transparent;
	background: transparent;
	background: transparent\9;
	background: rgba(0, 0, 0, 0.2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
	zoom: 1;
	padding: 25px;
	margin-top: 1em;
	text-align: center;
}
.send_mail_container:nth-child(n) {
	filter: none;
}
.send_mail_container .sendmail_body { height: 100px; }
.send_mail_container .sendmail_email, .send_mail_container .sendmail_body {
	-webkit-appearance: none;
	-webkit-user-modify: read-write-plaintext-only;
	background: rgb(255, 255, 255);
	background: transparent\9;
	background: rgba(255, 255, 255, 0.5);
	filter:progid: DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff,endColorstr=#7fffffff);
	zoom: 1;
	border: medium none;
	border-radius: 0;
	color: #333;
	font-family: 'helveticaneue-light';
	font-size: 18px;
	margin: 2px;
	padding: 15px;
	resize: none;
	width: 78%;
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
.send_mail_container .sendmail_email:nth-child(n), .send_mail_container .sendmail_body:nth-child(n) {
	filter: none;
}
.send_mail_container .sendmail_email:hover, .send_mail_container .sendmail_email:focus, .send_mail_container .sendmail_body:hover, .send_mail_container .sendmail_body:focus {
	-webkit-appearance: none;
	-webkit-user-modify: read-write-plaintext-only;
	background:rgb(255, 255, 255);
	background: transparent\9;
	background:rgba(255, 255, 255, 0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5ffffff,endColorstr=#e5ffffff);
	zoom: 1;
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
.send_mail_container .sendmail_button_container { margin-bottom: 10px; margin-top: 35px; width: 100%; }
.send_mail_container .sendmail_button_container .sendmail_button { background-color: #28aee2; border: medium none; border-radius: 4px; color: #001a23; cursor: pointer; font-size: 1.4em; padding: 0.23em 3em; text-decoration: none; }
.send_mail_container .sendmail_button_container .sendmail_button:hover { background-color: #84C619; box-shadow: 0 0 6px -1px #84C619; }

.send_mail_container .input_vertical_space { display: inline-block; width: 100%; height: 0.3em; }
.send_mail_container .email_form_input_error { border: 2px solid red!important; margin: 0px!important; }
/* sendmail form }}} */

/* action button (skip animation, help button, ecc...) {{{ */
.how_it_works_container { margin: 0.3em auto 0; }
.how_it_works_container .how_it_works_link {
	cursor: pointer;
	color: #065C93;
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}
.how_it_works_container .how_it_works_link:hover {
	color: #14AFEB;
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}

.action_button.skip_button { bottom: 40px; right: 50px; width: 145px; }
/* buttons common style {{{ */
.action_button {
	cursor: pointer;
	display: inline-block;
	height: 55px;
	padding: 0;
	position: fixed;

	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

	/* IE 5-7 */
	filter: alpha(opacity=60);

	/* Netscape */
	-moz-opacity: 0.6;

	/* Old Webkit browsers (Safari, Chrome, various others) */
	-webkit-opacity: 0.6;

	/* Safari 1.x */
	-khtml-opacity: 0.6;

	/* Good browsers */
	opacity: 0.6;
}
.action_button:hover {
	background-color: #001319;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

	/* IE 5-7 */
	filter: alpha(opacity=100);

	/* Netscape */
	-moz-opacity: 1;

	/* Old Webkit browsers (Safari, Chrome, various others) */
	-webkit-opacity: 1;

	/* Safari 1.x */
	-khtml-opacity: 1;

	/* Good browsers */
	opacity: 1;
}
.action_button .left { bottom: 13px; color: #075d7d; font-family: 'helveticaneue-light'; font-size: 15px; left: 7px; position: absolute; top: 21px; }
.action_button .right { position: absolute; right: 10px; top: 6px; }
/* buttons common style }}} */
/* action button (skip animation, help button, ecc...) }}} */

/* error/success messages {{{ */
.msg_container { display: none; margin-top: 2em; padding: 1em; text-align: left; width: 50%; }
.msg_container .icon_container { float: left; font-family: FontAwesome; font-size: 1.5em; margin-right: 10px; }
.msg_container .msg_title { margin-bottom: 10px; }
.msg_container .msg_title .right { font-weight: bold; font-size: 1.4em; }
.msg_container .msg_container { font-size: 1em; }
.msg_container .msg_extra_param { font-size: 0.96em; margin-top: 2em; }
.msg_container .msg_bottom_container { font-size: 1.2em; margin-top: 2em; }
.msg_container.success { background-color: #83c61a; color: #001a23; display: inline-block; }
.msg_container.success .tinymce_ol li { color: #001a23; }
.msg_container.success .tinymce_ol li span { color: #001a23; }
.msg_container.success .tinymce_block a { color: #000; }
.msg_container.success .tinymce_block a:hover { color: #161616; }
/*.msg_container.success .icon_container:after { font-family: FontAwesome; content: "\f118"; }*/

.msg_container.error { background-color: #170039; color: white; display: inline-block; }
.msg_container.error .tinymce_ol li { color: #fff; }
.msg_container.error .tinymce_ol li span { color: #fff; }
.msg_container.error .tinymce_block a { color: #bbb; }
.msg_container.error .tinymce_block a:hover { color: #eee; }
/*.msg_container.error .icon_container:after { font-family: FontAwesome; content: "\f119"; }*/

.msg_container.alert { background-color: #FFB908; color: #e14d00; display: inline-block; }
.msg_container.alert .tinymce_ol li { color: #E10303; }
.msg_container.alert .tinymce_ol li span { color: #AC3A00; }
.msg_container.alert .tinymce_block a { color: #002c3a; }
.msg_container.alert .tinymce_block a:hover { color: #161616; }
/*.msg_container.alert .icon_container:after { font-family: FontAwesome; content: "\f071"; }*/

.msg_container.tip { background-color: #333333; color: white; display: inline-block; }
.msg_container.tip .tinymce_ol li { color: #28AEE2; }
.msg_container.tip .tinymce_ol li span { color: #fff; }
.msg_container.tip .tinymce_block a { color: #84C619; }
.msg_container.tip .tinymce_block a:hover { color: #161616; }
/*.msg_container.tip .icon_container:after { font-family: FontAwesome; content: "\f19d"; }*/
/* error/success messages }}} */
/* page main style }}} */

/* animation fix {{{ */
.logo_container, .form_container {
	/*-webkit-backface-visibility: hidden;*/
	/*-webkit-transform: translateZ(0);*/
}

.logo_container *, .form_container * {
	/*-webkit-transform: translateZ(0);*/
}
/* animation fix }}} */

/* tinyMce style {{{ */
.tinymce_block strong { font-weight: bold; font-family: "helvetica"; }

.tinymce_block h2 { font-size: 1.2em; margin-top: 20px; margin-bottom: 15px; }
.tinymce_block .attribution {
	display: inline-block;
	font-family: "helvetica";
	font-size: 1.1em;
	font-style: italic;
	text-align: right;
	width: 100%;
}
.entpy_software_container {
	margin-bottom: 5px;
	text-align: right;
}

.tinymce_block .tinymce_ol { list-style: decimal outside none; margin-bottom: 30px; margin-left: 30px; margin-top: 15px; }
.tinymce_block .tinymce_ol li { margin-bottom: 10px; }
.tinymce_block .tinymce_ol li span { }
/* tinyMce style }}} */
