.send_mail_container {
	filter: none!important;
}
.msg_container .msg_bottom_container {
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"!important;

	/* IE 5-7 */
	filter: alpha(opacity=100)!important;
}
