{% extends "website/inc/base.html" %}
{% load staticfiles %}

{% block title %}
<title>Entpy contest | scopri cosa contiene il tuo codice</title>
{% endblock title %}

{% block description %}
<meta name="description" content="Entpy è una software house specializzata nello sviluppo di applicazioni Android, applicazioni iOS e piattaforme web, Entpy è il software">
{% endblock description %}

{% block loaded_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "website/css/animate.min.css" %}" >
<link rel="stylesheet" href="{% static "website/css/placeholder_polyfill.css" %}" >

{% endblock loaded_css %}

{% block main_content %}
{% endblock main_content %}

{% block custom_page_script %}
<script src="{% static "website/js/view/index.js" %}"></script>
<script src="{% static "website/js/jquery.scrollTo.min.js" %}"></script>
<script src="{% static "website/js/jquery.easing.1.3.js" %}"></script>
<script src="{% static "website/js/ajax_wrapper.js" %}"></script>
<script src="{% static "website/js/message_wrapper.js" %}"></script>
<script src="{% static "website/js/jquery.cookie.js" %}"></script>
<script src="{% static "website/js/placeholder_polyfill.jquery.js" %}"></script>
<script src="{% static "website/js/jquery.ba-resize.min.js" %}"></script>
{% endblock custom_page_script %}
