{% extends "website/inc/base_index.html" %}
{% load staticfiles %}
{% block main_content %}
<div class="logo_container">
	<img class="check_image entpy_logo_image" alt="Entpy" src="static/website/img/logo.svg">
</div>
<div class="logo_container_after_animation_pt1 display_none">
	<img class="check_image entpy_logo_image_pt2" alt="Entpy" src="static/website/img/logo.svg">
</div>
<div class="bg_container scroll_to_element1">
	<img class="check_image entpy_universe_image" alt="Entpy universe" src="static/website/img/bg.svg">
</div>
{% endblock main_content %}
